 <div class="row">
    <div class="col-lg-3"><a href="{{ page.base_url }}select/" type="button" class="btn btn-default btn-block  bottom_top">Select Element</a></div>
    <div class="col-lg-3"><a href="{{ page.base_url }}slider/" type="button" class="btn btn-default btn-block  bottom_top">Slider</a></div>
    <div class="col-lg-3"><a href="{{ page.base_url }}colorpicker/" type="button" class="btn btn-default btn-block  bottom_top">Color Picker</a></div>
    <div class="col-lg-3"><a href="{{ page.base_url }}number/" type="button" class="btn btn-default btn-block  bottom_top">Number Input</a></div>
  </div>
  <div class="row">
    <div class="col-lg-3"><a href="{{ page.base_url }}googlefont/" type="button" class="btn btn-default btn-block  bottom_top">Google Font Picker</a></div>
    <div class="col-lg-3"><a href="{{ page.base_url }}font/" type="button" class="btn btn-default btn-block  bottom_top">Font Picker</a></div>
    <div class="col-lg-3"><a href="{{ page.base_url }}datepicker/" type="button" class="btn btn-default btn-block  bottom_top">Date Picker</a></div>
    <div class="col-lg-3"><a href="{{ page.base_url }}fontsize/" type="button" class="btn btn-default btn-block  bottom_top">Font Size Picker</a></div>
  </div>
  <div class="row">
    <div class="col-lg-3"><a href="{{ page.base_url }}country/" type="button" class="btn btn-default btn-block  bottom_top"><span class="glyphicon glyphicon-star-empty emptystar"></span> Country Picker</a></div>
    <div class="col-lg-3"><a href="{{ page.base_url }}state/" type="button" class="btn btn-default btn-block  bottom_top"><span class="glyphicon glyphicon-star-empty emptystar"></span> State Picker</a></div>
    <div class="col-lg-3"><a href="{{ page.base_url }}timezone/" type="button" class="btn btn-default btn-block  bottom_top"><span class="glyphicon glyphicon-star-empty emptystar"></span> Timezone Picker</a></div>
    <div class="col-lg-3"><a href="{{ page.base_url }}currency/" type="button" class="btn btn-default btn-block  bottom_top"><span class="glyphicon glyphicon-star-empty emptystar"></span> Currency Picker</a></div>
  </div>
  <div class="row">
    <div class="col-lg-3"><a href="{{ page.base_url }}language/" type="button" class="btn btn-default btn-block  bottom_top"><span class="glyphicon glyphicon-star-empty emptystar"></span> Language Picker</a></div>
    <div class="col-lg-3"><a href="{{ page.base_url }}timepicker/" type="button" class="btn btn-default btn-block  bottom_top"><span class="glyphicon glyphicon-star-empty emptystar"></span> Time Picker</a></div>
    <div class="col-lg-3"><a href="{{ page.base_url }}phone/" type="button" class="btn btn-default btn-block  bottom_top"><span class="glyphicon glyphicon-star-empty emptystar"></span> Phone Input</a></div>
  </div>