 <div class="row">
    <div class="col-lg-3"><a href="http://www.bootstrapformhelpers.com/select/#jquery-plugins" type="button" class="btn btn-default btn-block  bottom_top">Select Element</a></div>
    <div class="col-lg-3"><a href="http://www.bootstrapformhelpers.com/slider/#jquery-plugins" type="button" class="btn btn-default btn-block  bottom_top">Slider</a></div>
    <div class="col-lg-3"><a href="http://bootstrapformhelpers.com/colorpicker/#jquery-plugins" type="button" class="btn btn-default btn-block  bottom_top">Color Picker</a></div>
    <div class="col-lg-3"><a href="http://bootstrapformhelpers.com/number/#jquery-plugins" type="button" class="btn btn-default btn-block  bottom_top">Number Input</a></div>
  </div>
  <div class="row">
    <div class="col-lg-3"><a href="http://bootstrapformhelpers.com/googlefont/#jquery-plugins" type="button" class="btn btn-default btn-block  bottom_top">Google Font Picker</a></div>
    <div class="col-lg-3"><a href="http://bootstrapformhelpers.com/font/#jquery-plugins" type="button" class="btn btn-default btn-block  bottom_top">Font Picker</a></div>
    <div class="col-lg-3"><a href="http://bootstrapformhelpers.com/datepicker/#jquery-plugins" type="button" class="btn btn-default btn-block  bottom_top">Date Picker</a></div>
    <div class="col-lg-3"><a href="http://bootstrapformhelpers.com/fontsize/#jquery-plugins" type="button" class="btn btn-default btn-block  bottom_top">Font Size Picker</a></div>
  </div>
  <div class="row">
    <div class="col-lg-3"><a href="http://bootstrapformhelpers.com/country/#jquery-plugins" type="button" class="btn btn-default btn-block  bottom_top"><span class="glyphicon glyphicon-star-empty emptystar"></span> Country Picker</a></div>
    <div class="col-lg-3"><a href="http://bootstrapformhelpers.com/state/#jquery-plugins" type="button" class="btn btn-default btn-block  bottom_top"><span class="glyphicon glyphicon-star-empty emptystar"></span> State Picker</a></div>
    <div class="col-lg-3"><a href="http://bootstrapformhelpers.com/timezone/#jquery-plugins" type="button" class="btn btn-default btn-block  bottom_top"><span class="glyphicon glyphicon-star-empty emptystar"></span> Timezone Picker</a></div>
    <div class="col-lg-3"><a href="http://bootstrapformhelpers.com/currency/#jquery-plugins" type="button" class="btn btn-default btn-block  bottom_top"><span class="glyphicon glyphicon-star-empty emptystar"></span> Currency Picker</a></div>
  </div>
  <div class="row">
    <div class="col-lg-3"><a href="http://bootstrapformhelpers.com/language/#jquery-plugins" type="button" class="btn btn-default btn-block  bottom_top"><span class="glyphicon glyphicon-star-empty emptystar"></span> Language Picker</a></div>
    <div class="col-lg-3"><a href="http://bootstrapformhelpers.com/timepicker/#jquery-plugins" type="button" class="btn btn-default btn-block  bottom_top"><span class="glyphicon glyphicon-star-empty emptystar"></span> Time Picker</a></div>
    <div class="col-lg-3"><a href="http://bootstrapformhelpers.com/phone/#jquery-plugins" type="button" class="btn btn-default btn-block  bottom_top"><span class="glyphicon glyphicon-star-empty emptystar"></span> Phone Input</a></div>
  </div>