<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="{{ page.base_url }}assets/js/jquery-1.10.2.min.js"></script> -->
<script src="{{ page.base_url }}assets/js/jquery-3.3.1.min.js"></script>
<script src="{{ page.base_url }}assets/js/bootstrap.min.js"></script>
<script src="{{ page.base_url }}assets/js/bootstrap-formhelpers.min.js"></script>

<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4df14df26c87e5bd"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'light',
    'share' : {
      'position' : 'left',
      'numPreferredServices' : 5
    }   
  });
</script>
<!-- AddThis Smart Layers END -->

<script>
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    $($(e.target).attr('href')).find('.bfh-slider').val($($(e.target).attr('href')).find('.bfh-slider').val());
  });
</script>

<script>
  $(document.links).filter(function() {
    return this.hostname != window.location.hostname;
  }).attr('target', '_blank');
</script>
