<div class="jumbotron">
  <div class="container">
    <h2>Bootstrap Form Helpers</h2>
    <p class="lead">Extend Bootstrap — now with 15 custom jQuery plugins.</p>
    <p><a href="{{ page.base_url }}buy/" onclick="ga('send', 'event', 'button', 'click', 'buy');" class="btn btn-success btn-lg">Buy Now</a></p>
    <p style="color: #ececec;"> or <a href="https://github.com/vlamanna/BootstrapFormHelpers/zipball/master" onclick="ga('send', 'event', 'button', 'click', 'download');" class="btn btn-default btn-lg">Download</a></p>
    <ul class="masthead-links">
	  <li><a href="https://github.com/vlamanna/BootstrapFormHelpers" onclick="ga('send', 'event', 'button', 'click', 'source');">GitHub project</a></li>
	  <li>Version 2.2.0</li>
	</ul>
	<div><p style="color: #ececec; font-size: 14px;">
      <strong>Release 2.0 Special Offer!</strong> Until December 1st, get 50% off when you buy a commercial license!
	</p></div>
  </div>
</div>
