<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a style="height:32px;margin-top:-6px;" class="navbar-brand" href="#"><img style="width:32px;height:32px;" src="{{ page.base_url }}assets/img/logo.png" alt="jQuery Plugins - Bootstrap Form Helpers" class="img-circle"> Bootstrap Form Helpers</a>
  </div>
  
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>