<li><a href="{{ page.base_url }}">Overview</a></li>
<li><a href="{{ page.base_url }}gettingstarted/">Getting Started</a></li>
<li><a href="{{ page.base_url }}select/">Select</a></li>
<li><a href="{{ page.base_url }}country/">Country Picker</a></li>
<li><a href="{{ page.base_url }}state/">State Picker</a></li>
<li><a href="{{ page.base_url }}currency/">Currency Picker</a></li>
<li><a href="{{ page.base_url }}phone/">Phone Input</a></li>
<li><a href="{{ page.base_url }}language/">Language Picker</a></li>
<li><a href="{{ page.base_url }}timezone/">Timezone Picker</a></li>
<li><a href="{{ page.base_url }}googlefont/">Google Font Picker</a></li>
<li><a href="{{ page.base_url }}datepicker/">Date Picker</a></li>
<li><a href="{{ page.base_url }}timepicker/">Time Picker</a></li>
<li><a href="{{ page.base_url }}font/">Font Picker</a></li>
<li><a href="{{ page.base_url }}fontsize/">Font Size Picker</a></li>