<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include boot-header.html %}
  </head>
  <body>
    <!-- Start Alexa Certify Javascript -->
    <script type="text/javascript">
    _atrk_opts = { atrk_acct:"uQnbh1acOh00wy", domain:"bootstrapformhelpers.com",dynamic: true};
    (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
    </script>
    <noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=uQnbh1acOh00wy" style="display:none" height="1" width="1" alt="" /></noscript>
    <!-- End Alexa Certify Javascript -->
    
    <!-- Boot Navigation -->
    {% include boot-nav-main.html %}
    
    <div class="well bootheader row">
  <div class="container">
    <h1>{{ page.title }}</h1>
  </div>
</div>
{% include social-main.html %}
<!-- End of Header -->

    <!-- Main content -->
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="hidden-print" role="complementary">
            <ul class="nav side-bar">
              {% include nav-list.html %}
            </ul>
          </div>
        </div>
        <div class="col-md-9" role="main">
          {{ content }}
          
          <hr>
           <center> {% include ads-leaderboard.html %}</center>
        </div>
      </div>
    </div>
          

    <!-- The Footer -->

<br>
<br>
<br>
<footer class="footer_well">
  <div class="container"> 
   <p>
		<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=vlamanna&amp;repo=BootstrapFormHelpers&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" style="width: 100px; height: 20px;"></iframe>
	 
		<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=vlamanna&amp;repo=BootstrapFormHelpers&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" style="width: 98px; height: 20px;"></iframe>
	 </p>
    Designed and built by <a href="http://www.winmarkltd.com">Winmark</a><br>
    Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.<br>
    Icons from <a href="http://glyphicons.com/" target="_blank">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.<br>
    Flags from <a href="http://www.gosquared.com/" target="_blank">GoSquared</a>, licensed under <a href="http://bootstrapformhelpers.com/assets/img/bootstrap-formhelpers-countries.flags-LICENSE.txt" target="_blank">GoSquared</a>.</div>
</footer>

    {% include footer.html %}

  </body>
</html>
